<router-outlet></router-outlet>

<nb-card>
    <nb-card-header>
        <h4>Registered Sender</h4>
    </nb-card-header>
    <nb-card-body>
        <dx-data-grid #grid id="gridContainer" [dataSource]="senderSource" [showBorders]="true" [selectedRowKeys]="[]">
            <dxo-filter-row [visible]="showFilterRow" [applyFilter]="currentFilter"></dxo-filter-row>
            <dxo-header-filter [visible]="showHeaderFilter"></dxo-header-filter>
            <dxo-selection mode="single"></dxo-selection>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-group-panel [visible]="true"></dxo-group-panel>
            <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>

            <dxo-editing [allowDeleting]="true">
                <dxo-texts [confirmDeleteMessage]="null"></dxo-texts>
            </dxo-editing>


            
        
                    <dxi-column dataField="senderName"></dxi-column>
                    <dxi-column dataField="senderSurname"></dxi-column>
                    <dxi-column dataField="senderNationalId"></dxi-column>
                    <dxi-column dataField="senderPassportNo"></dxi-column>
                    <dxi-column dataField="senderEmail"></dxi-column>
                <dxi-column dataField="senderActive"></dxi-column>
            <dxi-column dataField="login.phoneNo"></dxi-column> 

            <dxo-paging [pageSize]="12"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]"></dxo-pager>
        </dx-data-grid>
    </nb-card-body>
</nb-card>