<nb-card>
        <nb-card-header>
            <h4>Vehicles</h4>
        </nb-card-header>
        <nb-card-body>
                <dx-data-grid #grid id="gridContainer" [dataSource]="vehicleSource" [showBorders]="true" [selectedRowKeys]="[]">
                        <dxo-filter-row [visible]="showFilterRow" [applyFilter]="currentFilter"></dxo-filter-row>
                        <dxo-header-filter [visible]="showHeaderFilter"></dxo-header-filter>
                        <dxo-selection mode="single"></dxo-selection>
                        <dxo-header-filter [visible]="true"></dxo-header-filter>
                        <dxo-group-panel [visible]="true"></dxo-group-panel>
                        <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                        .
                        <dxo-editing mode="popup" [allowUpdating]="true" >
                            <dxo-popup title="Employee Info" [showTitle]="true" [width]="700" [height]="600" [position]="{ my: 'center', at: 'center', of: window }">
                            </dxo-popup>
                            <dxo-texts [confirmDeleteMessage]="null"></dxo-texts>
                        </dxo-editing>


                        
            
                        <dxi-column dataField="licencePlateNo"></dxi-column>
                        <dxi-column dataField="colour"></dxi-column>
                        <dxi-column dataField="model"></dxi-column>
                        <dxi-column dataField="vehicleActive"></dxi-column>
                        <dxi-column dataField="vehicleMake.vehicleMakeDescr"></dxi-column> 
                        <dxi-column dataField="vehicleStatus.vehicleStatusDescr"></dxi-column> 
                        <dxi-column dataField="vehicleType.vehicleTypeDescr"></dxi-column> 
                        
<!--             
                        <dxo-remote-operations [sorting]="true" [paging]="true">
                        </dxo-remote-operations> -->
                        <dxo-paging [pageSize]="12"></dxo-paging>
                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]"></dxo-pager>
                    </dx-data-grid>
        </nb-card-body>
    </nb-card>